# Coverage directory used by tools like istanbul
coverage
*.lcov


# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.jest

# material
code
word
html
pdf


# dev-tests & pg
pg
dev
misc

# py related
.venv
__pycache__
