# Coverage
coverage
*.lcov

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# Materials
code
word
html
pdf
prod
**/*.zip

# dev-tests & playground
pg
dev
misc

# py related
.venv
__pycache__

